<div class="container">

    <div class="form-group">
        <label for="settings.pulseOximetryDevice">Pulse oximeter device ID:</label>
        <input type="text" class="form-control" id="settings.pulseOximetryDevice" placeholder="Bluetooth Smart ID" ng-model="settings.pulseOximetryDevice">
    </div>
    <div class="form-group">
        <label for="settings.bpDevice">Blood pressure device ID:</label>
        <input type="text" class="form-control" id="settings.bpDevice" placeholder="Bluetooth Smart ID" ng-model="settings.bpDevice">
    </div>
    <div class="form-group">
        <label for="settings.scaleDevice">Weighing scale device ID:</label>
        <input type="text" class="form-control" id="settings.scaleDevice" placeholder="Bluetooth Smart ID" ng-model="settings.scaleDevice">
    </div>
    <div class="form-group">
        <label for="settings.pulseBelt">Pulse belt device ID:</label>
        <input type="text" class="form-control" id="settings.pulseBelt" placeholder="Bluetooth Smart ID" ng-model="settings.pulseBelt">
    </div>
    <div class="form-group">
        <label for="settings.glucose">Glucose measurement device ID:</label>
        <input type="text" class="form-control" id="settings.glucose" placeholder="Bluetooth Smart ID" ng-model="settings.glucose">
    </div>
    <div class="form-group">
        <label for="settings.patientId">Patient ID:</label>
        <input type="text" class="form-control" id="settings.patientId" placeholder="Patient ID" ng-model="settings.patientId">
    </div>
    <div class="form-group">
        <label for="settings.serviceUri">Service Address:</label>
        <input type="text" class="form-control" id="settings.serviceUri" placeholder="http://" ng-model="settings.serviceUri">
    </div>
    <div class="form-group">
        <label for="settings.clientId">Client ID:</label>
        <input type="text" class="form-control" id="settings.clientId" placeholder="ClientID" ng-model="settings.clientId">
    </div>
    <div class="form-group">
        <label for="settings.authUri">Authentication Address: </label>
        <input type="text" class="form-control" id="settings.authUri" placeholder="http://" ng-model="settings.authUri">
    </div>
    <div class="form-group">
        <label for="settings.tokenUri">Token Address:</label>
        <input type="text" class="form-control" id="settings.tokenUri" placeholder="http://" ng-model="settings.tokenUri">
    </div>
    <div class="form-group">
        <label for="settings.redirectUri">Redirect Address:</label>
        <input type="text" class="form-control" id="settings.redirectUri" placeholder="http://" ng-model="settings.redirectUri">
    </div>
        <button id="save" type="submit" class="btn btn-default" ng-click="saveSettings()">Save</button>
    </form>

    <a class="btn btn-default btn-block" href="#/main">Back</a>

</div> 